<div class="height-container">
    <div class="vertical-align">
        <div class="register-form">
            <h1>Create your account</h1>
            <form class="form" action="/api/users" method="post">
                <div class="form-group">
                    <input name="name" type="text" placeholder="Name" requried>
                </div>

                <div class="form-group">
                    <input name="email" type="email" placeholder="E-mail">
                </div>  

                <div class="form-group">
                    <input name="password" type="text" placeholder="Password" minlength="6">
                </div>
                <input onclick="loginUser()" type="submit" value="Create account" class="button green-button" />
            </form>
            <p>Already have an account? <a href="/signin">Sign in</a></p>
        </div>
    </div>
</div>